
<link rel="stylesheet" href="css/estiles.css">



 <!-- En tu vista carts.handlebars -->
<h1>Carrito de Compras</h1> 

 {{#if productos}}
        <ul>
            {{#each productos}}
                <li>
                    <strong>{{this.tittle}}</strong><br>
                    Descripción: {{this.description}}<br>
                    Precio: {{this.price}}<br>
                    Stock: {{this.stock}}<br>
                    Categoría: {{this.category}}<br>
                    <!-- Agrega más campos según sea necesario -->
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos en el carrito.</p>
    {{/if}}