<h1>Lista de Productos</h1>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script src=""></script>

<div class="main__contenedor">{{#if isProduct}}
     <div>{{#each productList}}
       <p class="card-body">tittle:{{this.tittle}},<br>
       description :{{this.description}},<br>
       code: {{this.code}},<br>
       price: {{this.price}},<br>
       status: {{this.status}},<br>
       stock: {{this.stock}},<br>
       category: {{this.category}},<br>
       thumbnail: {{this.thumbnail}},<br>
       id: {{this.id}} </p>
     {{/each}}
     </div>
</div>
       {{else}}
          <p>Producto no existe</p>
     {{/if}}

     