 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<p><strong>{{error}}</strong></p>
<p>{{error}}</p>

<a href="/api/sessions/logout">
  Cerrar Sesion
</a>
<h1 class="h2del">Lista de Productos</h1>
<div class="main__contenedor">

  {{#if payload}}
  {{#each payload }}
  <ul class="card-body">
    {{this.tittle}}<br>
    {{this.description}}<br>
    {{this.price}}<br>
    {{this.stock}}<br>
    {{this.thumbnail}}<br>
    <button class="button_addCart" onclick="addCart('{{this.id}}','{{this.tittle}}','{{this.description}}','{{this.code}}','{{this.price}}','{{this.status}}', '{{this.stock}}', '{{this.category}}', '{{this.thumbnails}}')">addCart</button> </ul>

  {{/each}}

</div>
{{#if hasPrevPage}}
<a href={{prevLink}}>Anterior</a>
{{/if}}

{{page}}

{{#if hasNextPage}}
<a href={{nextLink}}>Siguiente</a>
{{/if}}

{{else}}

<h2>No hay productos</h2>
{{/if}}

</div>

<script>
  let carritoProductos = [];

  const addCart = (productId, tittle, description, code, price, status, stock, category, thumbnails) => {
    console.log("addcart", addCart);
    const datosProducto = {
      id: productId,
      tittle,
      description,
      code,
      price,
      status,
      stock,
      category,
      thumbnails,
    };
    carritoProductos.push(datosProducto);
    mostrarCarritoEnInterfaz();
    console.log("carritoProducts", carritoProductos)
  };

  const mostrarCarritoEnInterfaz = () => {
    const contenedorProducto = document.querySelector(".conteinerProducto");
    if (!contenedorProducto) {

        return;
    }

    contenedorProducto.innerHTML = '';
    carritoProductos.forEach(producto => {
        const productoHTML = `
            <table class="tableHeadCard">
                <tr>  
                    <td class="tdcard">${producto.thumbnails}</td>  
                    <td class="tdcard">${producto.tittle}</td>
                    <td class="tdcard">${producto.price}</td>
                    <td class="tdcard">${producto.stock}</td>
                    <td class="tdcard">${producto.description}</td>
                    <td><button class="remove-from-cart" data-id="${producto.id}" onclick="quitarDelCarrito('${producto.id}')">Quitar</button></td>
                </tr>
            </table>
        `;
        contenedorProducto.innerHTML += productoHTML;
    });
};

  function quitarDelCarrito(productId) {
    carritoProductos = carritoProductos.filter((product) => product.id !== productId);
    console.log("carritoProducts", carritoProductos)
    mostrarCarritoEnInterfaz();
  }

  document.addEventListener('DOMContentLoaded', () => {
    const botonFinCompra = document.querySelector(".botonFinCompra");
    botonFinCompra.addEventListener('click', async () => {
        try {
            await fetch('/api/carts/addproductCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    cartId: 'YOUR_CART_ID', // Reemplaza con el ID de tu carrito
                    products: carritoProductos,
                }),
            });
        // Limpiar el carrito después de la compra
        carritoProductos = [];
        mostrarCarritoEnInterfaz();
      } catch (error) {
        console.error('Error al enviar productos al carrito:', error);
        // Manejar el error según tus necesidades
        // Por ejemplo, mostrar un mensaje de error al usuario
        Swal.fire({
          icon: 'error',
          title: 'Error al comprar',
          text: 'Hubo un problema al procesar la compra. Inténtalo de nuevo.',
        });
      }
    });
  });
</script>
<div>  
        <h3 class ="carrito">Carrito de compras</h3>  
        <table class="tableHeadCard">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
            </tr>
          </thead>
      </table>
          
      </div>
  </div>


  <div class="conteinerProducto"></div>

      <article class="row py-lg-4 py-3 tarj_tot">
        <div class="div_tot">
            <p class= "item-total mb-0 "  >TOTAL</p>
            <div class="tarjTotal"></div>
            <button class="item btn btn-light botonFinCompra"  type="button">COMPRAR</button>
        </div>
      </article>
      <article class="conteinershow"></article>
      <br> 