<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<p><strong>{{error}}</strong></p>
<p>{{error}}</p>
console.log( {{ first_name }})<br/>
console.log ({{ email }})<br/><br/>

<a href="/api/sessions/logout">
  Cerrar Sesion
</a>
<h1 class = "h2del">Lista de Productos</h1>
<div class="main__contenedorProd">

{{#if payload}}

   <ul>
   <p class="card-body">{{#each payload }}
     Tittle:{{this.tittle}}<br>
     Price:{{this.price}}<br>
     Description:{{this.description}}<br>
     Code:{{this.code}}<br>
     Thumbnails:{{this.thumbnails}}<br>
     Category:{{this.category}}<br>
     <button class = "button_addCart" onclick="addCart('{{this.id}}, {{this.stock}}, {{this.description}}, {{this.code}}, {{this.category}}, {{this.thumbnails}}')">addCart</button></p>
   {{/each}}
   </ul>
   </div>
   {{#if hasPrevPage}}
      <a href={{prevLink}}>Anterior</a> 
   {{/if}}  

   {{page}}

   {{#if hasNextPage}}
      <a href={{nextLink}}>Siguiente</a>
   {{/if}}

  
{{else}} 

<h2>no hay productos</h2>  
{{/if}}

<script>
const addCart = (productId, stock,description, code, thumbnails, category  )=>{
    

    const baseUrl = 'http://localhost:8080/api/carts';
   
    const datosProducto = {
      id:productId,
      stock, 
      description, 
      code, 
      category, 
      thumbnails,  
    };
     fetch(`${baseUrl}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(datosProducto),
 
  })
    .then((response) => response.json())
    .then((data) => {
      console.log("data", data)
      const rutaLlamada = data.baseUrl;

      console.log('Ruta para agregar al carrito:', rutaLlamada);
      
    })
    .catch(error => {
      console.error('Error al obtener la ruta:', error);
    });
};

</script>