<h1 class="body">Lista de Productos Actualizados</h1>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>



{{#each productList}}
       <ul>tittle:{{this.tittle}},<br>
       description :{{this.description}},<br>
       code: {{this.code}},<br>
       price: {{this.price}},<br>
       status: {{this.status}},<br>
       stock: {{this.stock}},<br>
       category: {{this.category}},<br>
       thumbnail: {{this.thumbnail}},<br>
       id: {{this.id}} </ul>
     {{/each}}